<div id="<%= dom_id book %>">
  <p>
    <strong>Title:</strong>
    <%= book.title %>
  </p>

  <p>
    <strong>Published year:</strong>
    <%= book.published_year %>
  </p>

  <p>
    <strong>Created at:</strong>
    <%= book.created_at %>
  </p>

</div>
